@import "src/assets/colors";

.wrapper {
  display: flex;
  justify-content: center;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 574px;
  background-color: $dark;
  border-radius: 10px;
  padding: 40px;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.titlePage {
  font-size: 24px;
  line-height: 36px;
}

.footer {
  margin-top: 32px;
  text-align: center;
  color: $secondary;
  font-weight: 500;

  a {
    color: $primary;

    &:hover {
      color: $primary-secondary;
    }
  }
}
