@import "src/assets/colors";

.userNameWrapper {
  height: 56px;
  display: flex;
  align-items: center;
  padding-right: 24px;
  position: relative;
  cursor: pointer;
  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 7px;
    background-color: $light;
    right: 4px;
    top: 50%;
  }
  &::after {
    transform: rotate(-40deg);
  }
  &::before {
    transform: rotate(40deg);
    right: 8px;
  }
  &:hover::after,
  &:hover::before {
    background-color: $white;
  }
}

.initials {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  border-radius: 10px;
  margin-right: 20px;
  color: $white;
}

.dropdownWrapper {
  background-color: $dark;
  width: 100%;
  position: absolute;
  top: 70px;
  padding: 2px 0;
  border-radius: 10px;
  display: none;
  transition: top 0.5s;
}

.dropdownItem {
  padding: 15px 20px;
  border-bottom: 1px solid $graphite;
  cursor: pointer;
  transition: 0.3s;

  &:last-child {
    border-bottom: 0;
  }
  &:hover {
    color: $primary;
  }
}

.dropdownOpenedWrapper {
  display: block;
  cursor: default;
}

.dropdownWrapperLight {
  background-color: $white;
  border: 1px solid $light;

  .dropdownItem {
    border-bottom: 1px solid $light;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.userNameWrapperLight {
  &:hover::after,
  &:hover::before {
    background-color: $graphite;
  }
}
