@import "src/assets/colors";

.customSelect {
  margin-top: 8px;
  font-weight: 500;

  &__control {
    padding: 8px 20px;
    height: 56px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid transparent;
    cursor: text !important;
  }

  &__indicator {
    cursor: pointer !important;

    &:hover > svg > path {
      fill: $white !important;
    }
    > svg > path {
      fill: $light !important;
    }
    &-separator {
      align-self: stretch;
      width: 1px;
      background-color: $light;
      margin: 8px 12px;
      box-sizing: border-box;
    }
  }

  &__placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  &__menu {
    left: 0;
    top: auto !important;
    margin-top: 10px;
    border-radius: 10px;
    padding: 2px 0;
    overflow: hidden;
  }

  &__option {
    padding: 15px 20px;
    cursor: pointer !important;
    transition: 0.3s;

    &:hover {
      color: $primary;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.multiSelectWrapper {
  .customSelect {
    &__value-container {
      gap: 12px;
    }

    &__control {
      height: unset;
      min-height: 56px;
      padding: 8px;
    }

    &__multi-value {
      background-color: $dark;
      border-radius: 6px;
      padding: 4px 8px;
      gap: 9px;
      cursor: default;

      &__remove {
        cursor: pointer;
        transform: scale(1.2);
        > svg > path {
          fill: $light;
        }

        &:hover {
          > svg > path {
            fill: $white;
          }
        }
      }
    }
  }
}
