@import "src/assets/colors";

.pagesWrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.formPagesBackground {
  background-image: url("../../img/signInBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-color: $black;
  height: 100%;
  position: fixed;
}

.footer {
  align-self: center;
  font-weight: 500;
  padding: 32px 0 50px;
}
