@import "src/assets/colors";

.groupButtonsWrapper {
  display: flex;
  border-radius: 10px;
  gap: 1px;
  overflow: hidden;
  height: 56px;
  width: 266px;
}

.button {
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: $graphite;
  color: $white;

  > div > svg > path {
    fill: $light;
  }

  &:hover {
    > div > svg > path {
      fill: $white;
    }
  }

  &:hover {
    > svg > path {
      stroke: $white;
    }
    > svg > circle {
      stroke: $white;
    }
  }
}

.disabledGroupButtonsWrapper {
  .button {
    background-color: $secondary;
    cursor: not-allowed;

    &:hover {
      > div > svg > path {
        fill: $light;
      }
    }

    &:last-child:hover {
      > svg > path {
        stroke: $light;
      }
      > svg > circle {
        stroke: $light;
      }
    }
  }
}
