@import "src/assets/colors";

.scrollWrapper {
  flex: 1 1;
  overflow-y: auto;
  width: 100%;
}

.wrapper {
  display: flex;
  gap: 42px;
  padding-bottom: 64px;

  h2 {
    font-size: 24px;
  }
}

.movieCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movieCardWrapper {
  width: 266px;
}

.movieDescription {
  flex: 1;
}

.poster {
  width: 100%;
  height: 356px;
  border-radius: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: $graphite;
  position: relative;

  img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(5);
  }
}

.genres {
  display: flex;
  gap: 20px;

  > div {
    position: relative;
    color: $light;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      height: 4px;
      width: 4px;
      background-color: $light;
      border-radius: 50%;
      right: -12px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child::before {
      display: none;
    }
  }
}

.movieText {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  padding-right: 30px;
}

.title {
  line-height: 60px;
  font-size: 40px;
}

.raringWrapper {
  display: flex;
  gap: 20px;
  color: $white;

  > div {
    background-color: $graphite;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 2px 8px;
    height: 28px;
    border-radius: 6px;
    gap: 7px;
  }

  .trendRating {
    background-color: $primary;
    > svg {
      width: 16px !important;
      height: 16px !important;
      > path {
        fill: $white;
      }
    }
  }

  .greenRating {
    background-color: $green;
  }

  .orangeRating {
    background-color: $orange;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 40px;

  > p {
    font-weight: 500;
  }
}

.table {
  width: 100%;
  border-spacing: 10px 20px;

  tr {
    > td {
      &:first-child {
        width: 100px;
        color: $light;
        vertical-align: top;
      }
      &:last-child {
        font-weight: 500;
      }
    }
  }
}

.buttonsWrapper {
  display: flex;
  gap: 20px;

  > div:first-child {
    transform: rotate(180deg);
  }
}

.recommendation {
  padding-top: 30px;
}

.recommendationTop {
  display: flex;
  justify-content: space-between;
}

.recommendationCardList {
  overflow-x: auto;
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.card {
  width: 245px;
  flex-shrink: 0;

  > div:first-child {
    height: 400px;
  }
}

.preview,
.playerWrapper,
.reviews {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  background-color: $dark;
}

.player {
  border: 2px solid $light;
  margin: 0 20px;
  height: 550px;
  > div {
    height: 100%;
  }
}

.addedMovie {
  > svg > path {
    fill: $primary !important;
  }
}

.emptyState {
  padding: 50px 0;
  svg {
    height: 250px;
  }
}

.reviewsTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviewBtn {
  svg {
    margin-right: 10px;
    > path {
      fill: $primary-secondary;
    }
  }

  &:hover {
    svg > path {
      fill: $primary;
    }
  }
}

.rateBtn {
  svg {
    margin-right: 10px;
    transform: scale(0.8);
  }

  &:hover {
    svg > path {
      fill: $secondary;
    }
  }
}

.reviewsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  overflow: auto;

  h3 {
    font-weight: 600;
  }

  p {
    margin-top: 5px;
    font-weight: 400;
    color: $secondary;
  }
}

.blockLight {
  background-color: transparent;
  border: 1px solid $light;
  box-shadow: 0 0 20px -10px $black;
}
