@import "src/assets/colors";

.arrowWrapper {
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  &:hover {
    > svg > path {
      stroke: $light;
    }
  }
}

.disabledArrow {
  cursor: not-allowed;

  > svg > path {
    stroke: $secondary;
  }

  &:hover {
    > svg > path {
      stroke: $secondary;
    }
  }
}
