@import "src/assets/colors";

.homeLinkWrapper {
  display: flex;
  gap: 23px;
  align-items: center;
  cursor: pointer;
  > svg > path {
    fill: $secondary;
  }
  p {
    color: $secondary;
    font-size: 18px;
  }

  &:hover {
    > svg > path {
      fill: $primary-secondary;
    }
    p {
      color: $primary-secondary;
    }
  }

  &:active {
    > svg > path {
      fill: $primary;
    }
    p {
      color: $primary;
    }
  }
}

.disabledLink {
  pointer-events: none;
  cursor: not-allowed;
  > svg > path {
    fill: $graphite;
  }
  p {
    color: $graphite;
  }

  &:hover {
    > svg > path {
      fill: $graphite;
    }
    p {
      color: $graphite;
    }
  }

  &:active {
    > svg > path {
      fill: $graphite;
    }
    p {
      color: $graphite;
    }
  }
}
