@import "src/assets/colors";

.input-range {
  &__track {
    height: 0.4rem;
    transition: 0.1s;

    &--background {
      background: $light;
    }

    &--active {
      background: $primary;
    }
  }

  &__label {
    color: $white;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: "Exo 2", sans-serif;

    &--min,
    &--max {
      transform: translateY(10px);
    }
  }

  &__slider {
    background: $primary;

    &-container {
      transition: 0.1s;

      .input-range__label-container {
        background-color: $graphite;
        padding: 5px;
        top: -13px;
      }

      &:first-of-type .input-range__label-container {
        border-radius: 5px 5px 0 5px;
        left: -100%;
      }

      &:last-of-type .input-range__label-container {
        border-radius: 5px 5px 5px 0;
        left: 0;
      }
    }
  }
}

.rangeComponent {
  padding: 26px 50px;
  margin-top: 18px;
}

.rangeWrapperLight {
  .input-range__slider-container {
    .input-range__label-container {
      background-color: $secondary;
    }
  }
}
