@import "src/assets/colors";

.cardWrapper {
  min-height: 345px;
  width: 209px;
  position: relative;

  &:hover {
    .bookmark {
      opacity: 1;
    }
  }
}

.posterWrapper {
  border-radius: 20px;
  width: 100%;
  height: 280px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.title {
  margin-top: 15px;
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
  max-height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  &:hover {
    color: $primary;
  }
}

.rating,
.bookmark {
  position: absolute;
  padding: 2px 8px;
  height: 28px;
  text-align: center;
  top: 20px;
  border-radius: 6px;
}

.rating {
  left: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.bookmark {
  cursor: pointer;
  opacity: 0;
  right: 20px;
  background-color: $graphite;
  transition: 0.5s;
  > svg > path {
    fill: $secondary;
  }

  &:hover {
    > svg > path {
      fill: $light;
    }
  }
}

.trendRating {
  background-color: $primary;
  > svg {
    width: 16px !important;
    height: 16px !important;
    > path {
      fill: $white;
    }
  }
}

.greenRating {
  background-color: $green;
}

.orangeRating {
  background-color: $orange;
}

.addedMovie {
  opacity: 1;
  > svg > path {
    fill: $primary;
  }
}
