@import "src/assets/colors";

.confirmControls {
  display: flex;
  gap: 20px;
  > div {
    flex: 1;
  }
}

.windowRemoveConfirm {
  width: 400px;
}

.buttonsWrapper {
  margin-top: 20px;
  display: flex;
  gap: 20px;

  div {
    flex: 1;
  }
}
