@import "src/assets/colors";

@mixin button() {
  border-radius: 10px;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  color: $white;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;

  svg > path {
    transition: 0.3s !important;
  }
}
