@import "src/assets/colors";

.wrapper {
  padding: 40px 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 57px;
  position: relative;
  z-index: 999;
}

.logoWrapper {
  padding-right: 89px;
}

.logoWrapperLight {
  > svg {
    > path:nth-child(1n + 4) {
      fill: $black;
    }
  }
}
