@import "src/assets/colors";

.wrapper {
  padding: 24px 20px 64px 62px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100vh - 140px);
  width: 311px;
}

.ButtonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 30px;
}

.circle {
  margin: 6px;
  width: 12px;
  height: 12px;
  background-color: $secondary;
  border-radius: 50%;
}
